.answer-spacer{
    margin-top: 20px;
}
#question{
    margin: 50px 0;

}
.top{
    padding-top:100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
    color:yellow;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     background-color:#c290ff;
}
h1,h2,h3,h4, .answer-spacer{
    font-family: 'Raleway', sans-serif;
}
.cream-background{
    background-color: #FFF7DB;
}
a{
    font-size: 24px;
}
.min{
    min-height: 400px;
}